SpliceComponent input-dim=40 left-context=4 right-context=4 const-component-dim=0
FixedAffineComponent matrix=/home/hyung8758/kaldi_recipe/k1/exp/tri4/lda.mat
AffineComponentPreconditionedOnline input-dim=360 output-dim=300 alpha=4.0 num-samples-history=2000 update-period=4 rank-in=30 rank-out=60 max-change-per-sample=0.075 learning-rate=0.04 param-stddev=0.0577350269189626 bias-stddev=0.5
TanhComponent dim=300
AffineComponentPreconditionedOnline input-dim=300 output-dim=2046 alpha=4.0 num-samples-history=2000 update-period=4 rank-in=30 rank-out=60 max-change-per-sample=0.075 learning-rate=0.04 param-stddev=0 bias-stddev=0
SoftmaxComponent dim=2046
